

/* Chrome, Edge, and Safari specific styles */
.scrollbarContainer::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  -webkit-border-radius: 1ex;
}

.scrollbarContainer::-webkit-scrollbar-track {
  background: rgba(213, 213, 213, 0.2); /* Track color */
}

.scrollbarContainer::-webkit-scrollbar-thumb {
  background: hsl(var(--secondary));
  -webkit-border-radius: 1ex;
}
